# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
env/

# Django stuff
*.log
db.sqlite3
food_delivery/staticfiles/
media/

# VS Code
.vscode/

# macOS
.DS_Store

# Environment variables
.env

# JetBrains IDE project files
.idea/
